mixin socialList(modifier, items)
    ul.social__list
        each item in items
            li.social__item
                a(href=item.href target="_blank" class='social__link')
                    svg(class='icon icon_' + modifier)
                        use(xlink:href='assets/images/icons/sprite.svg#' + item.id)

mixin navList(linkClass, modifier, items)
    ul(class='nav__list '+modifier)
        each item in items
            li.nav__item
                a(href=item.href class=linkClass)= item.name

mixin icon(modifier, id)
    svg(class='icon icon_' + modifier)
        use(xlink:href='assets/images/icons/sprite.svg#' + id)
