-
    var socials = [
        {'id':'vk', 'href':'https://vk.com/id5299005'},
        {'id':'github', 'href':'https://github.com/ekb196'},
        {'id':'in', 'href':'#'}
    ]

    var navItems = [
        {'name':'Мои работы', 'href':'my-works.html'},
        {'name':'Обо мне', 'href':'about.html'},
        {'name':'Блог', 'href':'blog.html'}
    ]