-
    var socials = [
        {'id':'vk', 'href':'https://vk.com/id5299005'},
        {'id':'github', 'href':'https://github.com/ekb196'},
        {'id':'in', 'href':'#'}
    ]

    var navItems = [
        {'name':'Мои работы', 'href':'my-works.html'},
        {'name':'Обо мне', 'href':'about.html'},
        {'name':'Блог', 'href':'blog.html'},
        {'name':'Авторизация', 'href':'index.html'}
    ]

    var blogNavItems = [
        {'name':'Самое важное в SASS', 'href':'#article-1'},
        {'name':'Приёмы в вёрстке, без которых не обходится ни один сайт', 'href':'#article-2'},
        {'name':'Самый необходимый набор Gulp плагинов', 'href':'#article-3'},
        {'name':'Почему я выбрал Jade', 'href':'#article-4'}
    ]

    var skillsList = [
        {'type':'Frontend',
             'values':[
                {'skillName':'HTML5','skillValue': '95'},
                {'skillName':'CSS3','skillValue': '90'},
                {'skillName':'JavaScript & JQuery','skillValue': '60'}
            ]
        },
        {'type':'Backend',
            'values':[
                {'skillName':'PHP','skillValue': '35'},
                {'skillName':'MySQL','skillValue': '55'},
                {'skillName':'Node.js & npm','skillValue': '65'},
                {'skillName':'Mongo.db','skillValue': '75'}
            ]
        },
        {'type':'WorkFlow',
            'values':[
                {'skillName':'Git','skillValue': '80'},
                {'skillName':'Gulp','skillValue': '90'},
                {'skillName':'WebPack','skillValue': '50'},
            ]
        }
    ]

    var contacts = [
        {'svgId':'skype', 'contact':'ekb196'},
        {'svgId':'envelope', 'contact':'dmitrey04@mail.ru'},
        {'svgId':'phone', 'contact':'7 952 141 90 72'},
        {'svgId':'map_marker', 'contact':'г. Екатеринбург'}
    ]

    var projects = [
        {'title':'Сайт школы онлайн образования', 'tech':'HTML, CSS, JAVASCRIPT', 'link':'#', 'img':'assets/images/my-works/work-1.png'},
        {'title':'Сайт школы йоги', 'tech':'HTML, CSS, ANGULAR', 'link':'#', 'img':'assets/images/my-works/work-2.jpg'},
        {'title':'Сайт дизайн бюро', 'tech':'REACT', 'link':'#', 'img':'assets/images/my-works/work-3.jpg'},
    ]
