-
    var socials = [
        {'id':'vk', 'href':'https://vk.com/id5299005'},
        {'id':'github', 'href':'https://github.com/ekb196'},
        {'id':'in', 'href':'#'}
    ]

    var navItems = [
        {'name':'Мои работы', 'href':'my-works.html'},
        {'name':'Обо мне', 'href':'about.html'},
        {'name':'Блог', 'href':'blog.html'},
        {'name':'Авторизация', 'href':'auth.html'}
    ]

    var blogNavItems = [
        {'name':'Самое важное в SASS', 'href':'#'},
        {'name':'Приёмы в вёрстке, без которых не обходится ни один сайт', 'href':'#'},
        {'name':'Самый необходимый набор Gulp плагинов', 'href':'#'},
        {'name':'Почему я выбрал Jade', 'href':'#'}
    ]

    var skillsList = [
        {'type':'Frontend',
            'values':[
                {'skillName':'HTML5','skillValue': '95'},
                {'skillName':'CSS3','skillValue': '90'},
                {'skillName':'JavaScript & JQuery','skillValue': '60'}
            ]
        },
        {'type':'Backend',
            'values':[
                {'skillName':'PHP','skillValue': '35'},
                {'skillName':'MySQL','skillValue': '55'},
                {'skillName':'Node.js & npm','skillValue': '65'},
                {'skillName':'Mongo.db','skillValue': '75'}
            ]
        },
        {'type':'WorkFlow',
            'values':[
                {'skillName':'Git','skillValue': '80'},
                {'skillName':'Gulp','skillValue': '90'},
                {'skillName':'WebPack','skillValue': '50'},
            ]
        }
    ]
