.blog {
    display: flex;
}

.blog__left {
    width: 400px;
    margin-right: 120px;
}

.blog__nav {
    margin-left: auto;
    width: 275px;
}

.blog__right {
    width: 980px;
    margin-right: auto;
}

.blog__article {
    padding-bottom: 70px;

    &::after {
        content: '';
        width: 680px;
        height: 5px;
        background-color: $light-grey-color;
        display: block;
        margin-top: 70px;
    }

    &:last-child {

        &::after {
            display: none;
        }
    }
}

.blog__article-header {
    font-family: $header-font;
    font-size: 35px;
    margin-bottom: 30px;
}

.blog__article-date {
    color: $accent-color;
    margin-bottom: 30px;
}

.blog__article-content {

    p {
        width: 880px;
    }
}
