.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 1s;
    font-family: $main-font;
    line-height: 24px;
    font-size: $html-text-size;
    cursor: pointer;
    outline: 0;

    @include phones {
        font-size: 14px;
    }
}

.btn_auth {
    color: $white-color;
    border: solid 1px $white-color;
    align-self: flex-start;
    transition: all 1s ease-in-out;

    &:hover {
        background-color: $white-color;
        color: $accent-color;
    }
}

.btn_auth-hidden {
    transform: translateY(-1000px);
}

.btn_show {
    background-color: $accent-color;
    color: $white-color;
    display: flex;
    align-items: center;

    &:hover {
        background-color: $accent-darken-color;
    }
}

.btn__icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
}

.btn_form {
    width: 50%;
    background-color: $accent-color;
    font-weight: 500;
    color: $white-color;
    border: 0;
    border-radius: 0;
    border-right: solid 2px #6fd1c6;
    padding: 10px 30px;

    &:hover {
        background-color: $accent-darken-color;
    }

    &:last-child {
        border-right: 0;
    }
}
