.feedback {
    background: url('../images/mentions/mentions-bg.jpg');
    background-position: center -497px;
    background-size: auto;
    max-width: 380px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &::before {
        background: inherit;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        filter: url(#blur);
    }
}

.feedback__wrapper {
    padding: 35px 20px 0;
    position: relative;
}

.feedback__header {
    margin-bottom: 35px;

    @include tablets {
        margin-bottom: 15px;
    }
}

.feedback__buttons {
    display: flex;
    position: relative;
}
