.header {
    background: url('../images/header-bg.jpg') center top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding-top: 40px;

    &::before,
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        height: 0;
        border-top: solid 70px transparent;
        border-bottom: solid 70px $white-color;
    }

    &::before {
        left: 0;
        border-right: solid 25vw transparent;
        border-left: solid 25vw $white-color;
    }

    &::after {
        right: 0;
        border-right: solid 25vw $white-color;
        border-left: solid 25vw transparent;
    }
}

.header__socials {
    position: absolute;
    top: 30px;
    left: 30px;

    svg {
        fill: $white-color;
    }
}

.header__menu-button {
    position: absolute;
    top: 30px;
    right: 30px;
}
