.header {
    background: url('../images/header-bg.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    @include tablets {
        padding-top: 75px;
    }

    @include phones {
        height: 100vh;
        justify-content: space-between;
    }
}

.header_blog {
    padding-top: 40px;

    .header__person {
        margin-bottom: 0;
    }

    @include tablets {
        padding-top: 60px;
    }

    @include phones {
        padding-top: 75px;
    }
}

.header__socials,
.header__menu-button {
    position: absolute;
    top: 30px;

    @include phones {
        top: 15px;
    }
}

.header__socials {
    left: 30px;

    @include phones {
        left: 10px;
    }
}

.header__menu-button {
    right: 30px;
    z-index: 3;

    @include phones {
        right: 10px;
    }
}

.header__menu-button_close {
    right: 47px;

    @include tablets {
        right: 30px;
    }

    @include phones {
        right: 10px;
    }
}

.header__person {
    margin-bottom: 135px;
    z-index: 1;
    position: relative;

    @include tablets {
        margin-bottom: 100px;
    }
}

.header__title {
    z-index: 0;
    margin-bottom: 95px;
    position: relative;
}

.header__scroll {
    margin: 0 0 70px;
    display: flex;
    justify-content: center;

    @include phones {
        margin-bottom: 60px;
    }
}

.header__scroll_blog {
    display: none;

    @include tablets {
        display: flex;
    }
}

.header__bg {
    z-index: 0;
    opacity: .07;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
        display: none;
    }
}

.header__bg-icon {
    width: 1200px;
    height: 325px;
}

.header__content {
    z-index: 1;
}
