.mentions {
    padding: 35px 20px 0;
    background: url('../images/mentions/mentions-bg.jpg') center top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    @include tablets {
        font-size: 14px;
    }
}

.mentions__content {
    background: inherit;

    &::after {
        content: '';
        display: block;
        margin-bottom: 150px;
        height: 1px;
    }

    @include tablets {

        &::after {
            margin-bottom: 235px;
        }
    }
}

.mentions__list {
    display: flex;
}

.mention__quote {
    margin-bottom: 25px;

    @include tablets {
        margin-bottom: 15px;
    }
}

.mention__icon {
    width: 34px;
    height: 30px;
    opacity: .2;
}

.mentions__header {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;

    @include tablets {
        margin-bottom: 35px;
    }
}

.mentions__opinions {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;

    @include tablets {
        margin-bottom: 50px;
    }
}

.mentions__item {
    margin-right: 20px;

    &:nth-child(even) {
        margin-right: 0;
    }
}

.mentions__feedback {
    display: flex;
    background: inherit;
    margin-bottom: 70px;

    @include tablets {
        margin-bottom: 100px;
    }
}

.mentions__scroll {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include tablets {
        margin-bottom: 50px;
    }
}

.mention {
    max-width: 380px;
}

.mention__text {
    margin-bottom: 25px;

    @include tablets {
        margin-bottom: 15px;
    }
}

.owner {
    display: flex;
}

.owner__photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
}

.owner__desc {
    color: $accent-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.owner__name {
    font-weight: 500;
}
