.nav__list {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: $white-color;
    font-weight: 500;
    display: inline-block;
}

.nav__list_blog {
    flex-direction: column;
    align-items: flex-end;

    .nav__item {
        text-align: right;
    }
}

.nav__list_welcome {

    .nav__item {

        &:last-child .nav__link {
            border-right: 0;
        }
    }
}

.nav__link_welcome {
    background-color: $accent-color;
    border-right: solid 2px #6fd1c6;
    padding: 10px 30px;

    &:hover {
        background-color: $accent-darken-color;
    }
}

.nav__link_blog {
    text-align: right;
    color: $main-text-color;
    border-right: solid 3px transparent;
    display: inline-block;
    padding: 10px 18px 10px 0;
    font-weight: 400;

    &:hover {
        color: $accent-color;
        font-weight: 500;
        border-color: $accent-color;
    }
}

.nav__link_footer {
    margin-right: 40px;

    &:hover {
        color: $accent-color;
    }
}
