.project {
    width: 100%;
    height: 100%;
    @include phones {
        min-width: initial;
    }
}

.project__title {
    margin-bottom: 35px;

    @include phones {
        margin-bottom: 20px;
    }
}

.project__technologies {
    text-align: center;
    color: $accent-color;
    padding: 14px 0;
    border-top: solid 1px rgba($accent-darken-color, .3);
    border-bottom: solid 1px rgba($accent-darken-color, .3);
    margin-bottom: 35px;

    @include phones {
        margin-bottom: 20px;
    }
}

.project__link {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.project__list {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 275px;

    @include phones {
        min-height: 170px;
    }
}

.project__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
