.slider {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;

}

.slider__description {
    height: 100%;
    width: 50%;
    background-color: $grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;

    @include tablets {
        width: 100%;
        order: 2;
    }

    @include phones {
        padding: 30px 4px;
    }
}

.slider__image {
    width: 50%;
    height: 75%;
    align-items: center;
    display: flex;
    background-color: $slider-bg-color;
    padding: 30px 0;

    @include tablets {
        width: 100%;
        order: 1;
    }

    @include phones {
        padding: 30px;
    }
}

.slider__controls {
    width: 50%;
    height: 25%;
    display: flex;

    @include tablets {
        width: 100%;
        order: 3;
    }
}

.controls__left,
.controls__right {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: $slider-control-bg-color;
}

.controls__caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($slider-control-overlay-color, .5);
    transition: background-color .8s;
    cursor: pointer;

    &:hover {
        background-color: transparent;
    }
}

.controls__icon {
    width: 45px;
    height: 30px;
    position: relative;
    z-index: 1;
}

.controls__icon-bg {
    position: absolute;
    width: 45px;
    height: 30px;
    left: 0;
    top: 2px;
    z-index: -1;
    opacity: .16;
}

.controls__bg {
    display: flex;
    align-items: center;
    height: 100%;
}
