.welcome {
    background: url('../images/welcome-bg.jpg') center;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.welcome__auth {
    position: absolute;
    top: 24px;
    right: 100px;
}

.welcome__main {
    background-color: rgba(#fcfcfc, .85);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .85;
}

.welcome__socials {
    margin: 35px 0;
}
