.welcome {
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        background: url('../images/welcome-bg.jpg') center;
        background-size: cover;
    }

    @include phones {
        min-height: initial;
    }
}

.welcome__auth-btn {
    position: absolute;
    top: 24px;
    right: 100px;

    @include laptops {
        right: 20px;
    }

    @include phones {
        right: initial;
        top: 10px;
    }
}

.welcome__content {
    margin: 0 10px;
}

.welcome__flipper {
    perspective: 1000px;
}

.welcome__person {
    margin-bottom: 35px;
}

.welcome__socials {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.welcome__back-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.back-buttons {
    display: flex;
    width: 100%;
}

.back-buttons__item {
    width: 50%;
    display: flex;
}

.welcome__title {
    margin-bottom: 40px;
}

.welcome__login-form {
    margin: 0 20px;
}
