extends ../_template.pug

block title
    title Blog
    - desc = "Блог о веб-разработке"

block content
    section.section.header.header_blog
        .header__socials
            +socialList('welcome', socials, '')
        .header__menu-button
            a.menu(href="#")
                +icon('menu', 'hamburger')
        .header__person
            .person
                .person__photo
                    img.responsive-img(src="assets/images/myphoto.jpg")
        .header__title
            .section-title.section-title_color_white
                .section-title__header Блог
                    .section-title__bg.section-title__bg_blog
                        +icon('header-title-bg', 'blog_header')
                .section-title__caption Статьи, которые я написал

    section.blog
        .blog__triangle.blog__triangle_left
            .triangle.triangle_color_white
                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 100" preserveaspectratio="none")
                    polygon(points="0,100 0,0 501,85 501,100")
        .blog__triangle.blog__triangle_right
            .triangle.triangle_color_white
                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 100" preserveaspectratio="none")
                    polygon(points="0,85 0,100 501,100 501,0")
        .blog__left
            .blog__nav
                +navList('nav__list_blog', 'nav__link_blog', blogNavItems)
        .blog__right
            .blog__content
                .blog__article
                    +blog-article('Самое важное в Sass', '22 августа 2017')
                    .blog__article-content
                        include:markdown-it ../../blog-articles/about-sass.md
                .blog__article
                    +blog-article('Лучшие практики верстки', '1 июля 2017')
                    .blog__article-content
                        include:markdown-it ../../blog-articles/best-practics.md
                .blog__article
                    +blog-article('Самый необходимый набор Gulp-плагинов', '19 июня 2017')
                    .blog__article-content
                        include:markdown-it ../../blog-articles/gulp-plugins.md
                .blog__article
                    +blog-article('Почему я выбрал Pug', '3 июня 2017')
                    .blog__article-content
                        include:markdown-it ../../blog-articles/why-pug.md
    
    footer.footer.footer_darken
        .footer__row
            .footer__nav
                +navList('nav__list_footer', 'nav__link_footer', navItems)
            .footer__socials
                +socialList('footer', socials, '_round')
        .footer__row
            .footer__descr Я веб-разработчик из Екатеринбурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            .footer__copyright © Дмитрий Пешкин | создано в LoftSchool | 2017