extends ../_template.pug

block title
    title Welcome!
    - desc = "Личный стайт веб-разработчика Дмитрия Пешкина"

block content
    section.welcome
        .contaner
            a(href="#").btn.btn_auth Авторизоваться



