extends ../_template.pug

block title
    title Welcome!
    - desc = "Личный стайт веб-разработчика Дмитрия Пешкина"

block content
    section.welcome
        .container
            .welcome__auth
                a(href="#").btn.btn_auth Авторизоваться

            .welcome__main
                .person
                    .person__photo
                        img.responsive-img(src="assets/images/myphoto.jpg")
                    .person__name Дмитрий Пешкин
                    .person__caption Личный сайт веб разработчика
                .welcome__socials
                    +socialList('welcome', socials, '')
                .welcome__buttons
                    +navList('nav__list_welcome', 'nav__link_welcome', navItems, 1)
     
        footer.footer.footer_welcome 
            .footer__copyright 
                span.footer__span © Дмитрий Пешкин |
                span.footer__span &nbsp;создано в LoftSchool | 2017



