extends ../_template.pug

block title
    title Welcome!
    - desc = "Личный стайт веб-разработчика Дмитрия Пешкина"

block content
    section.welcome
        .welcome__bg.parallax-mm
            - for (var i = 1; i <= 10; i++)
                .parallax-mm__layer
                    img(src='assets/images/parallax/layer-'+[i]+'.png', class ='parallax__image parallax__image_'+[i]) 

        .welcome__auth-btn
            a(href="#").btn.btn_auth.flipper-rotate Авторизоваться

        .welcome__content
            .welcome__flipper
                .flipper
                    .flipper__front
                        .welcome__person
                            .person
                                .person__photo
                                    img.responsive-img(src="assets/images/myphoto.jpg")
                                .person__name Дмитрий Пешкин
                                .person__caption Личный сайт веб разработчика
                        .welcome__socials
                            +socialList('social__list_welcome','icon_fill_accent', socials, '')
                        .welcome__buttons
                            +navList('nav__list_welcome', 'nav__link_welcome', navItems, 1)

                    .flipper__back
                        .welcome__title
                            .section-title__subheader.section-title__subheader_login Авторизуйтесь
                        .welcome__login-form
                            form(id='login', class='form', action ='', method = 'post')
                                .form__field
                                    input.form__input.form__input_login(type = "login", name ='login', placeholder='Логин')
                                    .form__field-icon
                                        +icon('icon_fill_dark-grey', 'login')
                                    .form__error
                                        span Введите логин!
                                .form__field
                                    input.form__input.form__input_login(type="password", name= 'password', placeholder='Пароль')
                                    .form__field-icon
                                        +icon('icon_fill_dark-grey', 'password')
                                    .form__error
                                        span Введите пароль!
                                .form__line
                                    .form__checkbox
                                        input(type="checkbox", id='robot', name='robot', class="form__c")
                                        label(for='robot') Я человек
                                            .checkbox-fake
                                                +icon('icon_fill_white', 'check')

                                .form__line-title Вы точно не робот?
                                .form__line
                                    .form__radio
                                        input(type='radio', id='robot-radio-1', name='robot-radio', class='form__c')
                                        label(for='robot-radio-1') Да
                                            .radio-fake
                                        .check__error
                                            span Роботам у нас не место!
                                    .form__radio
                                        input(type='radio', id='robot-radio-2', name='robot-radio')
                                        label(for='robot-radio-2') Не уверен
                                            .radio-fake
                        .welcome__back-buttons
                            button.btn.btn_form.flipper-rotate На главную
                            button.btn.btn_form#btn-login(form='login', type='submit') Войти


        footer.footer.footer_welcome
            .footer__copyright 
                span.footer__span © Дмитрий Пешкин |
                span.footer__span &nbsp;создано в LoftSchool | 2017



