include common/_variables
include common/_mixins

doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        block title
            title
        meta(name="description", content=desc)
        link(rel='stylesheet' href='assets/styles/css.css')

    body
        //- .preloader
        //-     .loader
        //-         span.loaded 0%
        .wrapper
            block content

        script(src='assets/scripts/bundle.js' defer)