doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description", content="" )
        meta( name="keywords", content="")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='/assets/styles/css.css')

    body
        block content
        include common/_menu.pug
        script(src='/assets/scripts/bundle.js' defer)