* {
    box-sizing: border-box;
}

img {
    box-sizing: content-box;
}

html,
body {
    font-family: $main-font;
    font-size: $html-text-size;
    font-weight: 400;
    min-height: 100%;
    width: 100%;
    line-height: 24px;
    color: $main-text-color;
}

section {
    height: 100vh;
    min-height: 650px;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    line-height: inherit;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
    }
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
