$htmlTextSize: 16px;
$headerTextSize: 70px;
$mainTextColor : #455a64;
$accentColor: #00bfa5;
$accentDarkenColor: #009688;
$invertColor: #fff;
$linkTextColor: #6da3bd;
$mainFont: Roboto, Arial, sans-serif;
$headerFont: Bernier, Georgia, serif;
$laptop: 1200px;
$tablets: 768px;
$phones: 320px;
