$html-text-size: 16px;
$header-text-size: 70px;
$main-text-color: #455a64;
$link-text-color: #6da3bd;
$accent-color: #00bfa5;
$accent-darken-color: #009688;
$white-color: #fff;
$main-font: Roboto, Arial, sans-serif;
$header-font: Bernier, Georgia, serif;
$laptop: 1200px;
$tablets: 768px;
$phones: 320px;
